/* Podsumowanie */
.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.product-card-wrapper {
  display: flex;
  align-items: center;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  font-weight: 500;
  padding: 10px;
  width: 120px;
  text-align: center;
  background-color: var(--button-bg);
}

.product-card.total {
  background-color: #d1ffd6;
  font-weight: bold;
  color: var(--product-card-total);
}

.plus {
  margin: 0 10px;
  font-weight: bold;
  font-size: 1.2rem;
}