/* Reset i bazowe style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Kontener główny */
.app-container {
  max-width: 960px;
  margin: 2rem auto;
  padding: 2rem;
  background: var(--component-bg);
  border-radius: 16px;
  color: var(--text-color);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}


/* Nagłówek */
.app-container h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

/* Separator */
hr {
  border: none;
  border-top: 1px solid rgba(255,255,255,0.5);
  margin: 2rem 0;
}

/* Karty komponentów */
.component {
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: var(--component-bg);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.component:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0,0,0,0.3);
}

.nutrition-component {
  padding: 2rem;
  margin-bottom: 2rem;
  background: var(--nutrition-bg);
  color: var(--nutrition-text);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.nutrition-component:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0,0,0,0.3);
}

/* Inputy */
input {
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--text-color);
  outline: none;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  background-color: var(--input-bg);
  color: var(--input-color);
}

input:focus {
  border-color: var(--text-color);
  box-shadow: 0 0 6px rgba(255,255,255,0.6);
}

/* Przyciski */
.app-container button {
  background-color: var(--button-bg);
  color: var(--button-color);
  border: 1px solid transparent;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1rem;
  font-weight: bold;
  transition: background-color 0.4s ease, color 0.4s ease, border 0.4s ease;
}

.app-container button:hover {
  background-color: var(--button-hover-bg);
  color: var(--button-hover-color);
}

/* ------------------Responsywność------------------ */

/* Responsywność 600x*/
@media (max-width: 600px) {
  .app-container {
    padding: 1rem;
  }

  .app-container h1 {
    font-size: 2rem;
  }

  .component {
    padding: 1rem;
  }

  .calorie-result {
    font-size: 1.6rem;
    padding: 0.8rem 1rem;
  }

  input {
    font-size: 0.9rem;
  }

  button {
    width: 100%;
  }

   ol {
    padding-left: 1.2rem; 
  }

  ol li {
    font-size: 0.95rem;
  }
}
/* Responsywność 400x*/
@media (max-width: 400px) {
  .themeSwitcher {
    width: 40px;
    height: 40px;
  }

  .themeSwitcher svg {
    width: 20px;
    height: 20px;
  }

   ol {
    padding-left: 1rem;
  }

  ol li {
    font-size: 0.9rem;
  }
}